body {
  font-family: Arial, sans-serif;
  background-image: url('https://i.ibb.co/DV097cF/8cd632d1be81bb70020f2e54cacd02fd.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color #00ff00:
    color: #333;
  padding: 24px;
}

.form-item {
  padding: 13px;
}

h1 {
  color: Blue;
}

.form-item label {
  font-size: 15px;
  color: blue;
  margin-bottom: 5px;
  display: block;
}

input,
button {
  background: white;
  color: #fff;
  border: solid 2px red;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 9px;
  padding: 17px;
  border-radius: 10px;
  font-size: 16px;
  opacity: 0.3;
}

button {
  cursor: none;
  color: #0a0a0a;
  background-color: green;
}

button:hover {
  background: #CCC;
}

#result {
  display: none;
  text-align: center;
  background-color: #ededed;
  border: solid 1px #222;
  padding: 10px;
  border-radius: 4px;
  color: #0a0a0a;
}
.container {
  background: white;
  color: black;
  border: solid 2px red;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 9px;
  padding: 17px;
  border-radius: 10px;
  font-size: 16px;
  opacity: 0.5;
}