body {
  font-family: Arial, sans-serif;
  background-image: url('https://i.ibb.co/g9z2mnt/18ee0d711fc1b266e65f6a389966d65c.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color #00ff00:
    color: #333;
  padding: 24px;
}

.form-item {
  padding: 9px;
}

h1 {
  color: #343a40;
}

.form-item label {
  font-size: 15px;
  color: blue;
  margin-bottom: 5px;
  display: block;
}

input,
button {
  background: black;
  color: #fff;
  border: solid 2px red;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 9px;
  padding: 15px;
  border-radius: 7px;
  font-size: 16px;
  opacity: 0.5;
}

button {
  cursor: none;
  color: #0a0a0a;
  background-color: green;
}

button:hover {
  background: #CCC;
}

#result {
  display: none;
  text-align: center;
  background-color: #ededed;
  border: solid 1px #222;
  padding: 10px;
  border-radius: 4px;
  color: #0a0a0a;
}
